# Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python (Cleanup just in case)
__pycache__/
*.py[cod]

# Local User Settings (Secrets)
user_settings.json

# Builds
Publish/
